@model Productos

<h1>@ViewData["Nombre"]</h1>


<hr />
<div class="col-lg-12 col-sm-3 col-md-3 border mt-2 d-flex ">

    <a class="dropdown-item" asp-controller="Productos" asp-action="GetFrutas">Frutas</a>
    <a class="dropdown-item" asp-controller="Productos" asp-action="GetCarnes">Carnes</a>
    <a class="dropdown-item" asp-controller="Productos" asp-action="GetEmbutidos">Embutidos</a>
    <a class="dropdown-item" asp-controller="Productos" asp-action="GetBebidas">Bebidas</a>
    <a class="dropdown-item" asp-controller="Productos" asp-action="GetTodos">Todos</a>

</div>

<hr />
<div class="container">
    <form action="/Productos/Getespecifico/" method="post" class="ml-auto mr-auto mt-4">
        @Html.TextBoxFor(model => model.Nombre)
        <input id="export-btn" type="submit" value="buscar" class="btn btn-outline-dark btn-sm" />

    </form>
</div>

<hr />

<div class="container">
    <div class="row">



        @for (int i = 0; i < ViewBag.numeroDatos; i++)
        {

            <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
                <div class="card text-center shadow">

                    <img class="card-img-top" title="@ViewBag.datos[i].Nombre" alt="Titulo" src="@ViewBag.datos[i].Imagen" height="250" width="200" alt="">
                    <div class="card-body">
                        <h5> @ViewBag.datos[i].Nombre</h5>
                        <h5 class="card-title">@ViewBag.datos[i].Precio</h5>
                        <p class="card-text"></p>
                        <a asp-action="Details" asp-route-id="@ViewBag.datos[i].IdProductos" class="btn btn-outline-dark"><i class="fas fa-shopping-basket"></i>Agregar</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

