@model ElMercaditoWeb.Models.Slider

@{
    ViewData["Title"] = "Details";
}
    <div class="container mt-5 card">
      

        <div>
            <h4>Slider</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Img1)
                </dt>
                <dd class="col-sm-10">
                    <img src="@Html.DisplayFor(model => model.Img1)" height="100"/>
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Img2)
                </dt>
                <dd class="col-sm-10">
                    <img src="@Html.DisplayFor(model => model.Img2)" height="100"/>
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Img3)
                </dt>
                <dd class="col-sm-10">
                    <img src=" @Html.DisplayFor(model => model.Img3)" height="100"/>
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
            <a asp-action="Index">Volver a la lista</a>
        </div>
    </div>