@model IEnumerable<ElMercaditoWeb.Models.Slider>

@{
    ViewData["Title"] = "Index";
}
    <div class="container">

        <h1>Index</h1>

        
        
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Img1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Img2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Img3)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img src="@Html.DisplayFor(modelItem => item.Img1)" height="100" />
                        </td>
                        <td>
                            <img src="@Html.DisplayFor(modelItem => item.Img2)" height="100" />
                        </td>
                        <td>
                            <img src="@Html.DisplayFor(modelItem => item.Img3)" height="100"/>
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>